# Excluir entornos virtuales
venv/
env/
.venv/
.venv_tf/
.env/

# Excluir archivos de caché
__pycache__/
*.pyc
*.pyo

# Excluir archivos de configuración de Jupyter
.ipynb_checkpoints/

# Excluir archivos temporales y bases de datos
*.db
*.log

# Excluir configuración de PyCharm
.idea/

# Ignorar modelos y datos (ajusta si necesitas algunos sí en Git)
models/
data/
